<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Alumni.css') }}">

</head>
<body>
    <div id="wrapper">
        <header>
            <h1><a href="{{ url_for('index') }}"></a></h1>
        </header>

        <div id="main">
            <h3>WELCOME AND THANK YOU FOR JOINING THE GOVSTATE ALUMNI ASSOCIATION!</h3>
            <p>You will receive your membership card in the mail within 2-3 weeks.</p>
            Redirecting you back to the <a href="{{ url_for('index') }}">home page</a> in 
            <span id="count">10</span> seconds.
        </div>
   </div>

   <script>
        let seconds = 10;
        const countdown = document.getElementById("count");

        const timer = setInterval(() => {
            seconds--;
            countdown.textContent = seconds;

            if (seconds <= 0) {
                clearInterval(timer);
                window.location.href = "{{ url_for('index') }}";
            }
        }, 1000);
    </script>

</body>
</html>
